body{
    background-color: green;
}
.head{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 150%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.container{
    background-color: aquamarine;
    height: 70vh;
    width: 70%;
    border: 2px solid black;
    margin-left: 15vw;    

    /* display: flex;
    justify-content: center;
    align-items: center; */
}
label, input{
    font-size: large;
    margin: 0vw 0vw 1% 37.5%;
}
.imgdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    margin-top: 3%;
    margin-left: 42%;
    height: 35px;
    width: 100px;
    color: white;
    background-color: blue;
    border-radius: 13%;
}
@media screen and (min-width: 400px) {
    button {
    margin-top: 3%;
    margin-left: 42%;
    height: 10%;
    width: 15%;
    color: white;
    background-color: blue;
    border-radius: 13%;    
    }
  }